/*
 * scRNA-seq CNV calling pipeline configuration.
 * Params live here so command lines stay short and reproducible.
 */

manifest {
    name            = 'scRNA-seq copy number variation callers'
    description     = 'A compact DSL2 Nextflow pipeline wrapping inferCNV and CopyKAT modules'
    author          = 'Youssef Abili'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.04.0'
    version         = '0.1.0'
}

params {
    /*
     * Input files
     */
    run_infercnv      = true
    run_copykat       = true
    raw_counts_matrix = null
    annotations_file  = null
    ref_group_names   = []


    /*
     * inferCNV settings
     */
    gene_order_file   = null
    annotations_delim = '\t'
    cutoff            = 0.1
    cluster_by_groups = true
    denoise           = true
    hmm               = false
    leiden_resolution = 0.001
    BayesMaxPNormal   = 0.2

    /*
     * inferCNV plotting
     */
    plot_preliminary_cnv          = false
    plot_per_group                = false

    /*
     * copykat / CopyKAT settings
     * The module reuses raw_counts_matrix and annotations_file. When
     * ref_group_names is set, matching cells from annotations_file are passed
     * to CopyKAT as norm.cell.names unless copykat_norm_cell_names is provided.
     */
    sample_id         = null
    copykat_raw_counts_delim = '\t'
    copykat_norm_cell_names  = []
    copykat_id_type          = 'S'
    copykat_cell_line        = 'no'
    copykat_ngene_chr        = 5
    copykat_low_dr           = 0.05
    copykat_up_dr            = 0.1
    copykat_win_size         = 25
    copykat_ks_cut           = 0.1
    copykat_distance         = 'euclidean'
    copykat_output_seg       = false
    copykat_plot_genes       = true
    copykat_genome           = 'hg20'

    /*
     * Runtime and outputs
     */
    outdir            = 'results'
    publish_dir_mode  = 'copy'
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'
includeConfig 'conf/profiles.config'

timeline {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
}
