/*
 * Minimal inferCNV pipeline configuration.
 * Params live here so command lines stay short and reproducible.
 */

manifest {
    name            = 'minimal-infercnv'
    description     = 'A compact DSL2 Nextflow pipeline wrapping one inferCNV module'
    author          = 'Youssef Abili'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.04.0'
    version         = '0.1.0'
}

params {
    /*
     * Input files
     */
    run_infercnv      = true
    run_copykat       = true
    raw_counts_matrix = null
    annotations_file  = null
    ref_group_names   = []


    /*
     * inferCNV settings
     */
    gene_order_file   = null
    annotations_delim = '\t'
    cutoff            = 0.1
    cluster_by_groups = true
    denoise           = true
    hmm               = false

    /*
     * copykat / CopyKAT settings
     * The module reuses raw_counts_matrix and annotations_file. When
     * ref_group_names is set, matching cells from annotations_file are passed
     * to CopyKAT as norm.cell.names unless copykat_norm_cell_names is provided.
     */
    sample_id         = null
    copykat_raw_counts_delim = '\t'
    copykat_norm_cell_names  = []
    copykat_id_type          = 'S'
    copykat_cell_line        = 'no'
    copykat_ngene_chr        = 5
    copykat_low_dr           = 0.05
    copykat_up_dr            = 0.1
    copykat_win_size         = 25
    copykat_ks_cut           = 0.1
    copykat_distance         = 'euclidean'
    copykat_output_seg       = false
    copykat_plot_genes       = true
    copykat_genome           = 'hg20'

    /*
     * Runtime and outputs
     */
    outdir            = 'results'
    publish_dir_mode  = 'copy'
}

process {

    withLabel: process_medium {
        cpus   = 4
        memory = 16.GB
        time   = 12.h
    }

    withLabel: process_high {
        cpus   = 8
        memory = 32.GB
        time   = 12.h
    }

    withName: INFERCNV {
        publishDir = [
            path: "${params.outdir}/infercnv",
            mode: params.publish_dir_mode
        ]
        container =  "quay.io/biocontainers/bioconductor-infercnv:1.26.0--r45hdfd78af_0"

    }

    withName: COPYKAT {
        publishDir = [
            path: "${params.outdir}/copykat",
            mode: params.publish_dir_mode
        ]
        container =  "yussab/copykat:1.1.0"
    }
}

profiles {

    docker {
        docker.enabled = true
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }

    conda {
        conda.enabled = true
    }
}

timeline {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
}
