/*
 * Module-specific publishing and container configuration.
 */

process {
    withName: INFERCNV {
        publishDir = [
            path: "${params.outdir}/infercnv",
            mode: params.publish_dir_mode
        ]
        container = 'quay.io/biocontainers/bioconductor-infercnv:1.26.0--r45hdfd78af_0'
    }

    withName: COPYKAT {
        publishDir = [
            path: "${params.outdir}/copykat",
            mode: params.publish_dir_mode
        ]
        container = 'yussab/copykat:1.1.0'
    }
}
